@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  color: #fff;
  background-color: #111827;
}

.min-h-full {
  min-height: 80%;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: unset;
}

progress::-webkit-progress-value {
  background-color: #fff !important;
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background-color: #fff !important;
  border-radius: 100px;
}

/* For IE10 */
progress {
  background-color: #eee;
}