@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  color: #fff;
  background-color: #111827;
}

.min-h-full {
  min-height: 80%;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: unset;
}

progress::-webkit-progress-value {
  background-color: #1abb9c !important;
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background-color: #1abb9c !important;
  border-radius: 100px;
}

/* For IE10 */
progress {
  background-color: #1abb9c;
}

input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  background-color: #1abb9c;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}